@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  //Fonts
  --font-poppins: "Poppins", sans-serif;

  //Colors
  --green: #49c85f;
  --red: #f00c0c;
  --white: #e9e4e4;
  --black: #131313;
}
